.login-page-container {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.login-card-container {
  background-color: #2c364c;
  padding: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.login-website-logo {
  height: 120px;
  width: 120px;
  margin-bottom: 20px;
  align-self: center;
}
.input-container {
  margin-bottom: 10px;
}
.login-label-element {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 8px;
}
.input {
  width: 100%;
  padding: 8px;
  border: 2px solid #cbd5e1;
  color: #000000;
  font-size: 12px;
}
.login-button {
  background-color: #4f46e5;
  border-radius: 10px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 500;
  padding: 7px;
  border: none;
  cursor: pointer;
}
.error-msg {
  color: red;
  font-size: 16px;
}
